<!DOCTYPE html>
<html lang="en">

<%- include("../components/head"); %>

    <body>
        <%- include("../components/header"); %>

            <main class="adminContainer">
                <h1>Reserveringen</h1>
                <div class="left">
                    <% for (let i=0; i < 7; i++) { %>
                        <% const date=new Date()%>
                            <% date.setDate(date.getDate() + i) %>
                                <p>
                                    <%= date.toLocaleDateString('nl-NL', { weekday: 'long' , month: 'long' ,
                                        day: 'numeric' }) %>
                                </p>
                                <p>Reserveringen: <%= chickens.chickens %>
                                </p>
                                <% } %>
                </div>

                <div class="right">
                    <% for (let i=0; i < 7; i++) { %>
                        <p class="weatherCode">
                            <%= weather.daily.weathercode[0] %>
                        </p>
                        <p class="weatherTemp"><%- weather.daily.temperature_2m_min[0] + i %> °C Tot <%-
                                    weather.daily.temperature_2m_max[0] + i %> °C</p>
                        <p class="weatherRain">Regen: <%- weather.daily.rain_sum[0] + i %> mm</p>
                        <% } %>
                </div>
                </div>

            </main>

            <%- include("../components/footer"); %>

                <!-- <script src="/scripts/weather-api.js"></script> -->
    </body>

</html>