<!DOCTYPE html>
<html lang="en">

<%- include("../components/head"); %>

    <body>
        <%- include("../components/header"); %>

            <main class="confirm">
                <h1>Bedankt, <%= reservations.name %> voor uw bestelling!</h1>
                    <ul>
                        <li>Een overzicht van uw bestelling</li>
                        <li>Aantal halve kippen: <%= reservations.chickens %></li>
                        <li>Datum: <%= reservations.date %></li>
                        <li>Tijd: <%= reservations.time %></li>
                    </ul>

            </main>

            <%- include("../components/footer"); %>

    </body>

</html>