<!DOCTYPE html>
<html lang="en">

<%- include("../components/head") %>

    <body>
        <%- include("../components/header") %>


            <main>
                
                <h1>Reserver uw halve kip</h1>
                <form action="reserve" method="post">

                    <div class="chicken-amount">
                        <label>Number of chickens:</label>
                        <input type="number" id="chickens" name="chickens" value="0" min="0" max="20" />
                      </div>
                    
                      <div class="date">
                        <label for="date-input">Wanneer wilt u de halve kip reserveren?</label>
                        <!-- Set reservation to 7 days max -->
                        <% 
                          const today = new Date();
                          const maxDate = new Date(today.getTime() + (7 * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];
                        %>
                        <input type="date" id="date-input" name="date" min="<%= today.toISOString().split('T')[0] %>" max="<%= maxDate %>">
                      </div>
                      
                      <div class="time">
                        <label for="time-input">Hoelaat wilt u de kip reserveren?</label>
                        <input type="time" id="time-input" value="17:00" name="time" min="17:00"  max="20:00" required;>
                      </div>

                      <div class="submit-button">
                        <input type="submit" value="Reserveren">
                      </div>
                      
                </form>
                <%- include("../components/footer") %>
            </main>

        <script src="/scripts/orderTimes.js"></script>
        <!-- <script src="/scripts/maxDate.js"></script> -->

    </body>

</html>